.Header-logo {
  /* overflow:hidden; */
  overflow-y: hidden;
  background-color: black;
}

.home-carousel-wrapper {
  width: 45rem;
  max-width: 60rem;
  margin: auto;
}

@media only screen and (max-width: 800px) {
  .home-carousel-wrapper {
    width: 100%;
  }
}
