.custom-nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  font-weight: bolder;
  font-size: larger;
}

.header-logo {
  text-align: center;
  /* border-radius: 50%; */
  padding: 0.2rem;
}

.header-title {
  width: 12rem;
  margin-left: 22px;

  display: block;
  /* padding: 0.5rem 1rem; */
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  font-weight: bolder;
  font-size: larger;


  
}
.navbar-brand {
  width: 732px;
  display: flex;
}
@media only screen and (min-width: 700px) {
  .time-div {
    display: flex;
    margin-left: 49%;
    color: rgb(240, 193, 136);
    font-weight: bolder;
    font-size: 1.1rem;
    /* flex-wrap: wrap; */
    

  }
}
@media only screen and (max-width: 929px) {
  .time-div {
    display: flex;
    margin-left: 12%;
    color: rgb(240, 136, 216);
    font-weight: bolder;
    font-size: 1.1rem;
    flex-wrap: wrap;
  }
}

/* .time-div{
  
  color: rgb(240, 193, 136);
  font-weight: bolder;
  font-size: 1.1rem;
  
  
} */
